language: python
python:
  - "3.6"

# command to install dependencies
before_install:
  - pip install -U pip
  - export PYTHONPATH=$PYTHONPATH:$(pwd)
  - python setup.py install

install:
  - pip install -r requirements.txt
# command to run tests
script:
  - pytest
